<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <link rel="stylesheet" href="styles.css"> I have a styles.css file -->
      <title>Blog Sadid | <%= title %> </title>
      <link rel="stylesheet" href="/styles.css">
</head>