<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- here if we want to include a partials we have to use ejs tags(<%%>) and 
    use - sign to include a file here. 
    + is for adding variable(value)   -->
    <%- include('./partials/nav.ejs') %>

    <!-- <nav>
        <div class="site-title">
            <a href="/">
                <h1>Blog Sadid</h1>
                <p>This is my node js practice with ejs view engine</p>
            </a>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav> -->
    <div class="not-found content">
        Opps, Page not found :(
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>