<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <link rel="stylesheet" href="styles.css"> I have a styles.css file -->
</head>
<body>
    
    <nav>
        <div class="site-title">
        <a href="/">
            <h1>Blog Sadid</h1>
        </a>
        <p>This is my node js practice with ejs view engine</p>
    </div>
    <ul>
        <li>
            <a href="/">Blogs</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blogs/create">New Blog</a>
        </li>
    </ul>
    </nav>

    <div class="blos content">
        <h2>All Blogs</h2>
    </div>
    
</body>
</html>