<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <!-- here if we want to include a partials we have to use ejs tags(<%%>) and 
    use - sign to include a file here. 
    + is for adding variable(value)   -->
    <%- include('../partials/nav.ejs') %>

    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Blog Title</label>
            <input type="text" id="title" name="title" required>
           
            <label for="snippet">Blog Snippet</label>
            <input type="text" id="snippet" name="snippet" required>

            <label for="body">Blog Body:</label>
            <textarea id="body" required name="body"></textarea>

            <button>Submit</button>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>